<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>26892132028-unsh2b1kolg1cfs6kacmr27q0cms6b44.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26892132028-unsh2b1kolg1cfs6kacmr27q0cms6b44</string>
	<key>API_KEY</key>
	<string>AIzaSyA4z_QjQG37JIyYafHiH49Wu-GJtvGE0Ns</string>
	<key>GCM_SENDER_ID</key>
	<string>26892132028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.store</string>
	<key>PROJECT_ID</key>
	<string>store-429e8</string>
	<key>STORAGE_BUCKET</key>
	<string>store-429e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26892132028:ios:4298baaee280aa44b0fab9</string>
</dict>
</plist>